*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
fieldset{
  width: 1024px;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #aaa;
  border-radius: 10px;
}
#list-div{
  position: relative;
  width: 1024px;
<<<<<<< HEAD
  height: 400px;
=======
  min-height: 200px;
>>>>>>> de2738c3fdb31bbd07ef4e7f2b71296460412712
  margin: 30px auto;
  box-shadow: 0px 0px 5px #999;
  border-radius: 15px;
}
#list-div .list_item{
  display: inline-block;
  min-width: 40px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  background-color: #bbb;
  border-radius: 5px;
  border: 1px solid #666;
  margin: 5px;
  padding: 0 5px;
}
#list-div .list_item strong{
  font-weight: bolder;
<<<<<<< HEAD
  color: #f60;
=======
  color: #f90;
}

#list-div .match{
  border: 2px solid #f60;
  box-shadow: 0 0 4px #f60;
  margin: 5px;
  padding: 0 5px;
>>>>>>> de2738c3fdb31bbd07ef4e7f2b71296460412712
}