*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container{
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #ccc;
  min-width: 600px;
  min-height: 200px;
  
}
/*
td,th{
  border-style: solid;
}
*/
